@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
  }
  body {
    line-height: 1;
    font-family: sans-serif; 
    background-color: #fff; 
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal; 
  }


@layer components {
  .nav-link {
    @apply hidden md:block text-white;
  }

  .nav-link-line {
    @apply block h-0.5 bg-white transition-all duration-300 scale-x-0 group-hover:scale-x-100;
  }
}